footer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10%;
  
      p,
      a {
        margin: 0 10px;
        text-decoration: none;
        color: rgb(234, 229, 217);
      }
    }
