@media  (min-width: 1024px) {
    .container_logo h1 { 
        font-size: 2em;
        padding-left: 20px;
        line-height: 1.5;
    }
    .container_logo img {
        padding-right: 20px;
    }
    .titulos h2 {
        font-size: 1.5em;
    }
    .titulos h3 {
        font-size: 1.4em;
    }
    footer {
            font-size: 18px;
  
    }
    
}